body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.todo-app {
}

main {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.my-goal {
  text-align: start;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}

header .title {
  /* font-size: 36px; */
}

.nav-list {
  display: flex;
}

.nav-item {
  border: 1px solid black;
  padding: 8px 12px;
  margin-right: 8px;
}

/* .form {
  display: flex;
} */

input[type="text"] {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  position: absolute;
  right: 17%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  color: pink;
  font-size: 37px;
  border: navajowhite;
}

button[type="submit"]:hover {
  transform: scale(1.2);
}

.todo-list {
  /* display: flex; */
}

.todo-item {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* priority */

.form-control {
  margin-bottom: 16px;
}

.priority label {
  display: flex;
  margin-bottom: 5px;
}
